
body {
 background-image: url("https://cn.opendesktop.org/img/e/a/9/8/6fe4bb926f48f7ef104b56f95d53e999c3cd.jpg");
 background-color: #cccccc;
 background-repeat: no-repeat;
 background-size: cover;
}


