
body {
 background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2013/11/27/179682/8c79c256120b781b084a2faa78100b31-700.jpg");
 background-color: #cccccc;
 background-repeat: no-repeat;
 background-size: cover;
}


